In [1]:
import pandas as pd
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import  LinearRegression
from sklearn.linear_model import  Lasso


from sklearn.metrics import mean_squared_error

In [3]:
pd.__version__

'1.4.2'

In [4]:
sklearn.__version__

'1.0.2'

In [5]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
# df2 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [7]:
df.shape

(3066766, 19)

In [8]:
df.tpep_dropoff_datetime - df.tpep_pickup_datetime
# df2.tpep_dropoff_datetime - df2.tpep_pickup_datetime

0         0 days 00:08:26
1         0 days 00:06:19
2         0 days 00:12:45
3         0 days 00:09:37
4         0 days 00:10:50
                ...
3066761   0 days 00:13:59
3066762   0 days 00:19:27
3066763   0 days 00:24:31
3066764   0 days 00:13:00
3066765   0 days 00:14:24
Length: 3066766, dtype: timedelta64[ns]

In [9]:
df["duration"] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
# df2["duration"] = df2.tpep_dropoff_datetime - df2.tpep_pickup_datetime

In [10]:
# df.head()

In [11]:
# df["duration"].std()

In [12]:
# df2["duration"].std()

In [13]:
# df.duration = df.duration.apply(lambda td: td.total_seconds () / 60)

In [14]:
# df.head()

In [15]:
# sns.distplot(df.duration)

In [16]:
# df.duration.describe()

In [17]:
# df.duration.describe(percentiles=[0.95, 0.98, 0.99]).apply("{0:.5f}".format)

In [18]:
# ((df.duration >= 1) & (df.duration <= 60)).mean()
# df = df[(df.duration >= 1) & (df.duration <= 60)]

In [19]:
# categorical = ["PULocationID",	"DOLocationID"]
# numerical = ["trip_distance" ]

In [20]:
# df[categorical] = df[categorical].astype(str)

In [21]:
# print(df["VendorID"].value_counts())
# print(df["VendorID"].value_counts(normalize=True))

In [22]:
# train_dicts = df[categorical + numerical].to_dict(orient= 'records')

In [23]:
# dv = DictVectorizer()
# X_train = dv.fit_transform(train_dicts)

In [24]:
# X_train

In [25]:
# dv.feature_names_

In [26]:
target = 'duration'
y_train = df[target].values

In [27]:
y_train

array([ 506000000000,  379000000000,  765000000000, ..., 1471000000000,
        780000000000,  864000000000], dtype='timedelta64[ns]')

In [28]:
# lr = LinearRegression()
# lr.fit(X_train,y_train)

In [29]:
# y_pred = lr.predict(X_train)

In [30]:

# sns.distplot(y_pred, label="prediction")
# sns.distplot(y_train, label="actual")

# plt.legend()

In [31]:
# mean_squared_error(y_train, y_pred, squared=False)

In [32]:
def read_dataframe(filename):    
    df = pd.read_parquet(filename)

    df["duration"] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime
    df.duration = df.duration.apply(lambda td: td.total_seconds () / 60)

    categorical = ["PULocationID",	"DOLocationID"]

    df[categorical] = df[categorical].astype(str)
    return df

In [33]:
df_train = read_dataframe('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [34]:
df_val = read_dataframe('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [35]:
len(df_train), len(df_val)

(3066766, 2913955)

In [36]:
categorical = ["PULocationID",	"DOLocationID"]
numerical = ["trip_distance" ]

In [37]:

train_dicts = df_train[categorical + numerical].to_dict(orient= 'records')

In [38]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [39]:

val_dicts = df_val[categorical + numerical].to_dict(orient= 'records')
dv = DictVectorizer()

In [40]:
#causing kernel crash
X_val = dv.transform(val_dicts)

In [41]:
target = 'duration'
y_train = df_train[target].values
y_val = df_val[target].values

In [42]:

lr = LinearRegression()
lr.fit(X_train,y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

NameError: name 'X_val' is not defined

In [ ]:

lr = Lasso(alpha = 0.01)
lr.fit(X_train,y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)